
body {
    background-color: rgb(20, 165, 209);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
  }
#login_state
{
    display:none;
}
#add_modify_task_state
{
    display: none;
}

#select_project_state
{
 display:none;
}
#display_task_state
{
   display:none;
}
#add_modify_task_state
{
    display: none;
}